body
{
    background-color: rgb(190, 248, 219);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
    background-image: url(./grocery1.png),url(./grocery3.png);
    background-repeat: no-repeat    ;
    background-position: bottom left,bottom right;
    /* align-content: center; */
    /* align-items: center; */
}
  
  @keyframes example
{
    0% {background-color: rgb(231, 248, 190);;}
    25% {background-color: rgb(159, 240, 156);}
    50% {background-color: rgb(177, 169, 250);}
    100% {background-color: rgb(235, 248, 190) ;}
}
#head
{
    text-transform: uppercase;
    color: darkblue;
    text-shadow: 0 0 20px aqua;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s infinite;
}
@keyframes text{
    0%{letter-spacing: 1px;
    }
    50%{
        letter-spacing: 5px;
    }
    100%{
        letter-spacing: 1px;
    }
}
caption, label{
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(2, 68, 2);
    text-decoration: underline;
}
label{
    text-decoration: none;
}
#deptSelect{
    width: auto;
    height: 30px;
    border: 1px solid green ;
    font-weight: bold;
}
table{
    /* text-align: center; */
    width: auto;
    border-collapse: collapse;
    background-color: aquamarine;
    border: 2px solid green;    
    margin: auto;
    margin-top: 20px;
}
th
{
    text-transform: uppercase;
}
th, td{
    border: 1px solid green;
    padding: 5px;
    font-weight: bolder;
}
tr:nth-child(even){
    background-color: honeydew;
}
#deptSelect
{
    background-color: aquamarine;
}